table{
    width: 96%;
    margin-left: 2%;
}
.mat-form-field{
    font-size: 16px;
    width: 96%;
    margin-left:2% ;
}
#header{
    font-size: 17px;
    font-weight: 500;
    color: rgb(36, 2, 49);
}
#edit{
    background-color:rgb(6, 147, 202);
    color: white;
}
#edit:hover{
    color:rgb(68, 64, 98);
    transform:translateY(2px);
}
#delete:hover{
    color:rgb(68, 64, 98);
    transform:translateY(2px);
}
#create{
    color: rgb(66, 74, 77);
}
#create:hover{
    color:rgb(78, 117, 81);
    transform:translateY(2px);
}