
<div class="container">
   <br>
    <div class="card" style="width: 28rem;">
        <img src="assets/ciuda.PNG" class="card-img-top" alt="...">
        <hr>
        <img src="assets/partcip.PNG" class="card-img-top" alt="...">
        <div class="card-body">
         
        <p class="card-text">
            El concepto de ciudadanía tiene muchas más capas de significado
            que la de ciudadanía legal. Hoy en día “ciudadanía” es mucho
            más que una construcción jurídica y se refiere, entre otras
            cosas, a la sensación personal de pertenencia, por ejemplo, 
            al sentido de pertenencia a una comunidad que puedas moldear 
            e influir directamente.
            Una comunidad puede definirse a través de una variedad de 
            elementos, por ejemplo, a través de un código moral compartido,
            de un conjunto idéntico de derechos y obligaciones, de la lealtad
            a una civilización común, o a través de un sentido de identidad. 
            Desde el punto de vista geográfico, el término “comunidad” generalmente
            se define a dos niveles principales, diferenciando entre la comunidad
            local, en la que vive la persona, y el estado, al que pertenece la 
            persona.    
        </p>    
       </div>
      </div>
</div>