<!-- <h2>Revisemos Justos Los Conceptos De:</h2> -->
<div class="container">
    <br>
    <div class="card" style="width: 28rem;">
        <img src="assets/TERRITORIO.PNG" class="card-img-top" alt="...">
        <img src="assets/TTT.PNG" class="card-img-top" alt="...">
        <div class="card-body">
         
        <p class="card-text">
        Hablar de territorio implica articular la sociedad porque su 
        relación directa se expresa a través del concepto de
        territorialidad como pertenencia territorial supeditada a 
        procesos de identificación y de representación colectiva e
        individual que generalmente desconoce las fronteras políticas o administrativas</p>
        </div>
    </div>
</div>
